/*后台登录样式 */
.login-logo{
  margin-bottom:0;
}
.form-control {
  height:36px;
}
.captcha{
  pointer-events: auto;
  height:32px;
}
.login-box-msg{
  padding-bottom:10px;
}

.social-auth-links i{
  font-size:25px;
}
