html,body {
  font-family: "Microsoft YaHei","微软雅黑","Helvetica Neue", Helvetica, STHeiTi,"黑体","宋体",sans-serif;
  font-size: 13px;
}

/*全局row调整*/
.row {
    margin-right: -10px;
    margin-left: -10px;
}

/*左侧边栏调整*/
.sidebar-menu>li>a {
    padding: 6px 5px 6px 10px;
    display: block;
}

/*面包屑导航*/
.content-header{
	padding: 5px 10px 0 15px;
	.breadcrumb{
		float:none;
		position:relative;
		padding:0;
		top:0;
		right:0;
		font-size:14px;
		font-weight:500;
		// border-bottom:1px solid #8B909B;
		.active {
    		color: #222;
		}
	}
}
.content{
	// padding-left:5px;
	// padding-right:5px;
	// padding-top:5px;
	padding:5px;
}

/*box head*/
.box-header{
	padding:0 10px 10px 10px;
	.box-title{
		font-size:15px;
		font-weight:700;
	}
	.box-tools {
    position: relative;
    	margin-left:10px;
	}
}
/*表格样式调整*/
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	padding: 2px;
	vertical-align: middle;
}


/*后台添加分类显示样式 */
.listCategory {
    min-height: 280px;
}
/*后台登录样式 */

.login-logo {
    margin-bottom: 0;
}
.form-control {
    height: 36px;
}
.captcha {
    pointer-events: auto;
    height: 32px;
}
.login-box-msg {
    padding-bottom: 10px;
}
/*添加文章样式*/
.w80 {
    width: 80px;
}
.mr80{
    margin-left:80px;
}
/*缩略图样式*/
ul.thumbnails {
    max-height: 240px;
    overflow-y: scroll;
}
.thumbnail {
    margin-bottom: 0px;
}
.thumbnail img {
    width: 110px;
}
#savebtn {
    /* position:absolute;
          top:0;
          right:0;*/
    text-align: center;
}
/*添加文件样式*/

.box-footer {
	padding:5px;
}
.p-a-l-50{
	position: absolute;
	left: 50%;
}